<html>
	<head>
		<title>Initiative</title>
	</head>
	<body>
		<h1>Participants</h1>
		<form method="POST" action="/initiative/{{ initiative.id }}/add_participant">
			<input name="participant_text" id="id_new_participant" placeholder="Enter a participant" />
			{% csrf_token %}
		</form>
		
		<table id="id_participant_table">
			{% for participant in initiative.participant_set.all %}
				<tr>
					<td>{{ forloop.counter}}: {{ participant.name }}</td>
					<!-- <td>{{ participant.is_pc }}</td> -->
				</tr>
			{% endfor %}
		</table>
		
	</body>
</html>